@import "_variables";

@mixin defaultBorder {
  border-radius: 0.25rem;
  border: 0.15rem solid $defaultBorder;
}

@mixin defaultButton {
  @include defaultBorder;
  outline: none;
  background-color: $defaultBackground;
  cursor: pointer;
  padding: 0.5rem;
  color: $white1;
  font-size: 1rem;
  &:hover {
    background-color: buttonHover;
  }
  &:focus {
    border: 0.15rem solid $white1;
  }
}
