@import "_variables";
@import "_mixins";

body {
  background-color: #2f2f2f;
  font-family: "Ubuntu";
  color: $white1;
  font-size: 1rem;
  margin: 0;
}

.sidebar {
  border-right: 0.15rem solid $defaultBorder;
  background-color: $defaultBackground;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 10rem;
  height: 100vh;
  gap: 0.5rem;
  padding: 1rem;
  overflow: hidden;
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.buttonArea {
  margin-top: 15rem;
  padding: 1rem;
  width: calc(100vw - 20rem);
  margin-left: 12rem;
}

@media only screen and (max-height: 800px) {
  .buttonArea {
    padding: 1rem;
    width: calc(100vw - 20rem);
    margin-left: 12rem;
  }
}

.defaultButton {
  @include defaultButton;
}

.defaultLinkButton {
  @include defaultButton;
  text-decoration: none;
}

.tablePage {
  padding: 1rem;
  margin-left: 12rem;
  max-width: calc(100% - 12rem);
}
